/* debug */

.border-one {
    border: dashed 1px rgb(38, 0, 255);
}

.border-secondary {
    border: dashed 1px lightgreen;
 
}
.border-col {
    border: dashed 1px orange;
}

.border-row {
    border: dashed 1px green;
}

/* utility */

.bg-blue {
    background-color: #2c3e50;
}

.bg-soft-green {
    background-color: #1abc9c;
}

.btnSend {
    background-color: #1abc9c;
    border-color: #1abc9c;
}

/* divider */

.myDivider {
    width: 15%;
    border-bottom: solid 5px;
    border-radius: 25px;
}

/* header */

#myHeader a {
    color: #fff;
}

/* input */
.mytxtarea {
    height: 200px;
    width: 100%;
}

.myLabel {
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
}

.myInput::placeholder {
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
}

.myInput {
    border: none;
    border-bottom: 1px solid grey;
    border-radius: 0;
}


